main {
  background-color: #ffffff;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  .main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    .left-side {
      display: flex;
      flex-direction: column;
      width: calc(100% - 180px);
      margin-top: 15px;

      .title-section, .content-section {
        display: flex;
        flex-direction: column;
      }

      .title-section {
        margin: 5px 0 10px 0;

        .back-link {
          display: flex;
          align-items: center;
          width: 35px;
          text-decoration: none;
          color: #393939FF;
          font-size: 14px;
          font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;

          .back-icon {
            font-size: 16px;
            color: #464646;
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
          }
        }

        .main-title {
          color: #191919;
          font-size: 32px;
          font-weight: 700;
          margin-top: 8px;
          font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
        }
      }

      .content-section {
        .nav {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          flex-wrap: nowrap;
          max-width: 100%;
          padding-right: 5%;
          margin-bottom: 15px;
          align-items: center;

          .filters {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            .filter-form {
              display: flex;
              flex-direction: row;
              align-items: center;
            }
          }

          .buttons {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-items: center;

            .button {
              display: flex;
              width: 110px;
              height: 35px;
              padding: 9px;
              border-radius: 2px;
              justify-content: center;
              align-items: center;

              color: #FFFFFF;
              font-size: 14px;
            }

            .new-transaction-button {
              background: #0F62FE;

              &:hover {
                background: #054ADA;
              }
            }

            .delete-all-button {
              background: #DA1E28;
              margin-left: 10px;

              &:hover {
                background: #98131b;
              }
            }
          }

        }
      }
    }

    .right-side {
      width: 180px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 830px;
        width: 180px;
      }
    }
  }
}


.filters {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;

  .filter-form {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.date-form {
  width: 180px;
}

.category-form {
  width: 220px;
  margin: 0 10px;
}

.clearFilterButton {
  width: 30px;
}
