<main>
  <div class="main-container">
    <div class="title-section">
      <a class="back-link" routerLink="/">
        <span class="material-symbols-outlined back-icon">arrow_back_ios</span>
        <span>Home</span>
      </a>
      <h1 class="main-title">Transaction Management</h1>
    </div>
    <div class="content-section">
      <button class="new-transaction-button" mat-button (click)="openCreateTransactionDialog()">Create new</button>
      <span>TRANSACTIONS WORK!</span>
    </div>
  </div>
</main>
