section {
  min-width: 380px;
  min-height: 400px;
  background-color: #FFFFFF;
  padding: 13px 8px 0 8px;
  display: flex;
  flex-direction: column;
}

.head {
  h1 {
    color: #0043CE;
    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 15px;
  }

  .subtitle {
    color: #2f2f2f;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 0 0 0 23px;
  }
}

.form-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

mat-form-field {
  width: 100%;
}

.dialog-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0;
  padding: 0 4px 32px 24px;

  .cancel-button {
    background-color: #ffffff;
    color: #000000;
    margin-right: 8px;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  .save-button {
    background-color: #cccccc;
    color: #666666;
    margin-right: 20px;

    &:hover {
      background-color: #cccccc;
    }
  }

  .save-button.active {
    background-color: #0F62FE;
    color: #FFFFFF;

    &:hover {
      background-color: #08317a;
    }
  }
}

.value-field {
  align-items: flex-start;
  display: flex;
}

.lock-icon {
  color: #838383;
  padding-right: 15px;
}



